@media only screen and (max-width: 768px) {
  .homepage {
    .intro {
      padding: 10px;
    }
    h1 {
      font-size: 30px;
      line-height: 50px;
    }
  }

  .jobs-list {
    text-align: center;

    .logo {
      display: none;
    }
  }

  .jobs-list .view-details{
    margin: 10px;
  }
}
