$font-family:'Poppins',
sans-serif;
$main-color: #338573;
$bg-color: #F6F7FA;

// bootstrap variables and function
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
