<section class="top-header">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>Register</h3>
    </div>
  </div>
</section>


<section class="auth">
  <div class="p-3">
    <div class="row d-flex justify-content-center">
      <div class="col-md-5">
        <div class="card mt-4 mb-5">
          <form action="">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="username" class="required">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password" class="required">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn login">Create Account</button>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <p>Have account? <strong><a class="main-color" routerLink="/login">Login</a></strong></p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
