<section class="top-header">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>Register</h3>
    </div>
  </div>
</section>


<section class="auth">
  <div class="p-3">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card mt-4 mb-5">
          <form (ngSubmit)="registerUser(f)" method="post" #f="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div *ngIf="errorMessage" class="alert alert-danger fade show" role="alert">
                  {{errorMessage}}
                </div>
                <div *ngIf="successMessage" class="alert alert-success fade show" role="alert">
                  {{successMessage}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first_name" class="required">First Name</label>
                  <input type="text" class="form-control" name="first_name" placeholder="First Name" ngModel
                    #first_name="ngModel" required>
                  <p class="text-danger error-block" *ngIf="!first_name.valid && first_name.touched"><small>Your first
                      name</small></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last_name" class="required">Last Name</label>
                  <input type="text" class="form-control" name="last_name" placeholder="Last Name" ngModel
                    #last_name="ngModel" required>
                  <p class="text-danger error-block" *ngIf="!last_name.valid && last_name.touched"><small>Your Last
                      name</small></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="required">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Email" ngModel #email="ngModel" required>
                  <p class="text-danger error-block" *ngIf="!email.valid && email.touched"><small>Email Address</small></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username" class="required">Username</label>
                  <input type="text" class="form-control" name="username" placeholder="Username" ngModel
                    #username="ngModel" required>
                  <p class="text-danger error-block" *ngIf="!username.valid && username.touched"><small>Enter
                      Username</small></p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password" class="required">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password" ngModel
                    #password="ngModel" required>
                  <p class="text-danger error-block" *ngIf="!password.valid && password.touched"><small>Enter
                      password</small></p>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button type="submit" class="btn login" [disabled]="loading || !f.valid">
                    <span *ngIf="loading">
                      Loading....
                    </span>
                    <span *ngIf="!loading">
                      Create Account
                    </span>
                  </button>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <p>Have account? <strong><a class="main-color" routerLink="/login">Login</a></strong></p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
