<section class="top-header">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>My Jobs List</h3>
    </div>
  </div>
</section>

<section class="jobs-list-table">
  <div class="p-5">
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Job Type</th>
              <th scope="col">Posted Date</th>
              <th scope="col">Application Deadline</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr>
              <td><strong>Laravel Developer</strong></td>
              <td>Full Time</td>
              <td>12/06/2022</td>
              <td>Full Time</td>
              <td>
                <a routerLink=""><i class="fa fa-eye main-color"></i></a>
                <a routerLink=""><i class="fa fa-pencil text-primary"></i></a>
                <a routerLink=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
