<section class="top-header">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>My Jobs List</h3>
    </div>
  </div>
</section>

<section class="jobs-list-table">
  <div class="p-5">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="successMessage" class="alert alert-success fade show" role="alert">
          {{successMessage}}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Job Type</th>
              <th scope="col">Posted Date</th>
              <th scope="col">Application Deadline</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of jobs">
              <td><strong>{{ job.title }}</strong></td>
              <td>{{ job.job_type }}</td>
              <td>{{ covertDate(job.created_at) }}</td>
              <td>{{ job.application_deadline }}</td>
              <td>
                <a routerLink="/job-details/{{job.id}}/"><i class="fa fa-eye main-color"></i></a>
                <a routerLink="/edit-job/{{ job.id }}"><i class="fa fa-pencil text-primary"></i></a>
                <a (click)="deleteJob(job.id)" style="cursor: pointer;"><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
            <tr *ngIf="jobs < 1" class="text-center">
              <td colspan="5">No jobs posted</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
