<section class="homepage">
  <div class="row">
    <div class="col-md-7">
      <div class="intro">
        <h1>
          Find A <span class="main-color">Job</span> That <br>
          <span class="main-color">Matches</span><br> Your Passion
        </h1>
        <p class="mt-4">
          Hand-picked opportunities to work from home, remotely, freelance, <br>full-time, part-time, contract and
          internships.
        </p>
        <div class="search-form">
          <form class="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by job title......" name="query" required>
              <div class="input-group-append">
                <button class="btn btn-primary btn-search" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="categories">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 mb-4 mt-4">
        <h3>Popular Categories</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="icon">
            <i class="fa fa-desktop"></i>
          </div>
          <h4>Technology</h4>
        </div>
      </div>
    </div>
  </div>
</section>
