<div class="row text-center">
  <div class="col-md-12" *ngIf="preloader">
    <app-preloader></app-preloader>
  </div>
</div>

<section class="top-header" *ngIf="!preloader">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>{{job.title}} <small>({{job.job_type}})</small> - {{job.company_name}}</h3>
    </div>
  </div>
</section>

<section class="job-description" *ngIf="!preloader">
  <div class="p-5">
    <div class="row text-center">
      <div class="col-md-12 pb-4">
        <a href="{{job.company_website}}" target="_blank" class="btn btn-border-outline mb-4">View Company</a>
        <a href={{job.link_to_job}} target="_blank" class="btn btn-apply mb-4">Apply This Job</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <strong> Minimum Qualification:</strong> {{job.qualification}}
        </p>
        <p> <strong>Experience Length:</strong> {{job.experience}} years </p>
        <p> <strong>Location:</strong> {{job.location }} </p>
        <p> <strong>Application Deadline:</strong> {{job.application_deadline }} </p>
        <p> <strong>Salary Range:</strong> Ksh {{job.salary_range }}
        </p>
        <h5 class="text-bold">
          Job description
        </h5>
        <p class="text-muted">
          {{job.job_description}}
        </p>
      </div>
    </div>
  </div>
</section>
