@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "assets/scss/variables";
@import "assets/scss/buttons";

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.main-color {
  color: $main-color;
}

.bg-primary {
  background-color: $main-color !important;
}

.main-background {
  background-color: $main-color;
}

// navigation bar
.navbar {
  padding: 20px;
  background-color: #fff;

  .nav-item .nav-link {
    color: $main-color;
    font-weight: 500;
    font-size: 17px;
  }

  .btn-primary {
    font-weight: 500;
    font-size: 20px;
    margin-left: 25px;
  }

  .navbar-brand {
    color: $main-color;
    font-weight: bolder;
    font-size: 28px;
  }
}


// homepage banner section
.homepage {
  background-image: url('./assets/img/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .intro {
    padding: 55px;
  }

  h1 {
    font-weight: bolder;
    font-size: 70px;
    line-height: 80px;
  }

  p {
    color: #616161d5;
    line-height: 25px;
    font-size: 18px;
  }
}

.search-form {
  margin-top: 70px;

  .input-group input {
    height: 55px;
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    border: none;

    &::placeholder {
      color: #AEB0B4;
      font-size: 15px;
    }

    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .input-group-append button {
    margin-left: 1px;
    height: 55px;
  }
}


@import "assets/scss/responsive";
